requests~=2.32.3
tqdm~=4.67.1
pyyaml~=6.0.2
pandas~=2.2.3
jsonschema~=4.23.0
spacy~=3.8.6
transformers~=4.52.3
torch~=2.6.0
accelerate~=1.7.0
levenshtein~=0.27.1
nltk~=3.9.1
rouge~=1.0.1
yaml~=0.2.5
torchao~=0.11.0
torchtune~=0.6.1